
*.pyc
src/log.txt
2021/info.py
*.txt
.vscode/launch.json
/2017/pysln/.vs/pysln
/2022/pysln/.vs/pysln/v17
/2022C/
*/.vs/
.vs/
*.user
*.filters
2022cpp/adventofcodecpp/x64/Debug/
2022cpp/adventofcodecpp/x64/Release/
*.code-workspace
